.dev-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
}
.about-profile{
    color: burlywood;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
    padding-top: 150px;
}
.tag-line{
    font-size: 3.2rem;
    font-weight: 500;
}
.about-info span{
    font-size: 1.5rem;
}

@media screen and (max-width: 700px) {
    .about-profile{
        padding-top: 30px;
    }
}