.app-link {
  text-decoration: none;
  margin: 0 5px;
  font-size: 1.5rem;
  color: white;
}
.navbar-icons{
  display: flex;
  flex-direction: row;
}

.app-link:hover{
  transform: scale(1.2);
}

.navbar-name {
  font-size: 2rem;
  color: white;
  display: inline-block;
}

.nav-link:hover{
  transform: scale(1.2);
}

#nav-link {
  color: white;
  display: flex;
  flex-direction: row;
}

.nav-link {
  margin: 0 10px;
  font-size: 1.5rem;
} 

.App-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  padding: 30px;
  /* position: fixed; */
}
.app-header-transparent{
  background-color: transparent;
  position: fixed;
}


.app-header-active{
  transition: all ease-in-out;
  background-color: black;
}

/* MOBILE CSS */
.mobile-menu {
    width: 100%;
    background-color: rgba(107, 104, 104, 0.5);
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    visibility: hidden;
}
.sidebar{
    width: 75%;
    background-color: black;
    height: 100%;
    position: relative;
    padding-right: 10px;
}
.car{
  position: fix
}



#closeBtn{
  color: white;
  font-size: 45px;
}
#icon-btn{
  font-size: 50px;
  border: transparent;
  color: white;
  background-color: transparent;
  padding: 5px 0 0 0;
  left: 0;
}

.menu-items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item{
  color: white;
  padding: 5px 0;
}
